@use "styles/variables.scss" as *;
@use "styles/mixin.scss";

.selected_tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.tag {
  @extend .regular12;
  background-color: $purple-main;
  color: $white;
  border-radius: 4px;
  padding: 4px 5px;
}
