@use "styles/variables.scss" as *;
@use "styles/mixin.scss";


.card {
  @extend .regular12;
  width: 100px;
  margin-right: 14px;

  @media (max-width: 400px) {
    width: 100px;
  }

  &__img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
  }

  &__title{
    padding-top: 2px;
    color: black;
    width: 100px;
  }

  &__info{
    width: 100px;
  }
}