.tapBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.07);
    z-index: 1000;
  }

  .tapBar a {
    text-decoration: none;
    color: inherit;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .tapBar a:focus,
  .tapBar a:active {
    outline: none;
  }