@use "styles/variables.scss" as *;
@use "styles/mixin.scss";

.title {
  @extend .medium20;
  margin-top: 2rem;
}

.text {
  @extend .regular16;
  margin-bottom: 0.5rem;
}

.bookSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bannerSection {
  margin: 2rem 0;
}

.bannerWrapper {
  position: relative;
  text-align: center;
}

.bannerImage {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}
