@use 'styles/variables.scss' as *;
@use 'styles/mixin.scss' as *;

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        @extend .regular16;
        padding-bottom: 4px;
        cursor: pointer;

        &.active {
            color: $purple-main;
            border-bottom: 1px solid $purple-main;
        }

        p {
            margin: 0;
        }
    }
}
