@use "styles/variables.scss" as *;
@use "styles/mixin.scss" as *;

.tag {
  @include info-tag($purple-main);
  color: white;
  display: inline-block;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
}
