@use "./styles/reset.scss";
@use "./styles/variables.scss";
@use "./styles/Roboto/fonts.scss";

body {
  margin: 0px;
  padding: 0px;
  background-color: variables.$white;
  font-family: "Roboto";
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 79.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  margin-bottom: 80px;
}
